# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
testbin/

cmd/**/Dockerfile
cmd/**/sub.mk

# Dashboard
dashboard/node_modules/
dashboard/.output/
dashboard/dist/

# Generic
.git/
.vscode/
.jj/
