---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-netcon-janog-gr-jp-v1alpha1-problem
  failurePolicy: Fail
  name: mproblem.kb.io
  rules:
  - apiGroups:
    - netcon.janog.gr.jp
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - problems
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-netcon-janog-gr-jp-v1alpha1-problemenvironment
  failurePolicy: Fail
  name: mproblemenvironment.kb.io
  rules:
  - apiGroups:
    - netcon.janog.gr.jp
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - problemenvironments
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-netcon-janog-gr-jp-v1alpha1-problem
  failurePolicy: Fail
  name: vproblem.kb.io
  rules:
  - apiGroups:
    - netcon.janog.gr.jp
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - problems
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-netcon-janog-gr-jp-v1alpha1-problemenvironment
  failurePolicy: Fail
  name: vproblemenvironment.kb.io
  rules:
  - apiGroups:
    - netcon.janog.gr.jp
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - problemenvironments
  sideEffects: None
