name: build
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-controller-manager:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Sakura Container Registry
        uses: docker/login-action@v3
        with:
          registry: janog57-netcon.sakuracr.jp
          username: ${{ secrets.SAKURA_REGISTRY_USERNAME }}
          password: ${{ secrets.SAKURA_REGISTRY_PASSWORD }}
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push controller-manager
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./cmd/controller-manager/Dockerfile
          push: true
          tags: |
            janog57-netcon.sakuracr.jp/netcon-pms-controller-manager:latest
            janog57-netcon.sakuracr.jp/netcon-pms-controller-manager:master
            janog57-netcon.sakuracr.jp/netcon-pms-controller-manager:commit-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-gateway:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Sakura Container Registry
        uses: docker/login-action@v3
        with:
          registry: janog57-netcon.sakuracr.jp
          username: ${{ secrets.SAKURA_REGISTRY_USERNAME }}
          password: ${{ secrets.SAKURA_REGISTRY_PASSWORD }}
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push gateway
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./cmd/gateway/Dockerfile
          push: true
          tags: |
            janog57-netcon.sakuracr.jp/netcon-pms-gateway:latest
            janog57-netcon.sakuracr.jp/netcon-pms-gateway:master
            janog57-netcon.sakuracr.jp/netcon-pms-gateway:commit-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-nclet:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Login to Sakura Container Registry
        uses: docker/login-action@v3
        with:
          registry: janog57-netcon.sakuracr.jp
          username: ${{ secrets.SAKURA_REGISTRY_USERNAME }}
          password: ${{ secrets.SAKURA_REGISTRY_PASSWORD }}
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push nclet
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./cmd/nclet/Dockerfile
          push: true
          tags: |
            janog57-netcon.sakuracr.jp/netcon-pms-nclet:latest
            janog57-netcon.sakuracr.jp/netcon-pms-nclet:master
            janog57-netcon.sakuracr.jp/netcon-pms-nclet:commit-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-kubectl-netcon:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25
          cache: true
      - name: Install dependencies
        run: go mod download
      - name: Build
        run: make kubectl-netcon-build
      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: kubectl-netcon
          path: ./kubectl-netcon
