name: test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  controllers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
          cache: true

      - uses: actions/cache@v4
        with:
          path: bin

          # version of controller-gen and setup-envtest is hard-coded in Makefile
          # So, it's enough to check the hash of Makefile
          key: ${{ hashFiles('Makefile') }}

      - name: run make test
        run: |
          make test
